body {
	margin: 0;
}

h1 {
	font-size: 2.5em;

	margin-top: 1em;
	margin-bottom: 1em;

	border-bottom: 1px solid #BBBBBB;
	padding-bottom: 0.2em;

	text-align: center;
}

nav ul {
	list-style-type: none;
}

label {
	display: inline-block;
	width: 100px;
	text-align: right;
}
input {
	display: table-cell;
}

footer {
	text-align: center;
}

.nav-main {
	text-align: center;
}

.navbar {
	width: 100%;
	height: 50px;

	background-color: rgb(150, 180, 255);

	vertical-align: middle;
}

	.navbar nav {
		height: 100%;
	}

	.navbar .brand {
		float: left;
		display: inline-table;
		height: 100%;

		margin-left: 10px;

		font-size: 2em;
	}
	.navbar .brand > a {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		font: bold 24px Arial, sans-serif;
	}

	.navbar ul {
		float: right;
		display: block;
		height: 100%;

		padding: 0;
		margin: 0;

		padding-right: 5px;
	}
	.navbar li {
		float: right;
		height: 100%;
		display: inline-table;

		text-align: center;

		margin: 0;
		padding: 0;
	}
	.navbar li > a {
		background-color: rgb(130, 160, 255);
		height: 100%;
		display: table-cell;

		vertical-align: middle;

		padding-left: 10px;
		padding-right: 10px;

		border-style: solid;
		border-color: rgb(110, 140, 255);
		border-top-width: 0;
		border-bottom-width: 0;
		border-left-width: 1px;
		border-right-width: 1px;
	}
	.navbar li > a:hover {
		background-color: rgb(110, 140, 255);
	}

.main {
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button {
	display: inline-block;
	margin: 10px;
	padding: 0 20px;
	text-align: center;
	text-decoration: none;

	font: bold 12px/25px Arial, sans-serif;

	border-radius: 30px;
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	text-shadow: 1px 1px 1px rgba(255,255,255, .22);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.well {
	background-color:#a5cd4e;
	max-width:550px;
	border-radius:25px;

	text-align:center;

	margin-left:auto;
	margin-right:auto;

	padding: 10px;

	display: table;
}

.divider {
	margin-top: 1em;
	margin-bottom: 1em;
}




.error-message {
	color:red;
	text-align:center;
	padding-bottom: 15px;
}

.tiles {
	text-align: center;
}

.tile {
	display: inline-block;
}

.green {
	color: #3e5706;
	background: #a5cd4e;
}
/* Blue color */
.blue {
	color: #19667d;
	background: #70c9e3;
}
/* Gray Color */
.gray {
	color: #515151;
	background: #d3d3d3;
}


.button-action {
	font: bold 30px/40px Arial, sans-serif;
}

.button-main {
	font: bold 42px/55px Arial, sans-serif;
}

.accordion{
	width: 600px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: center;
	margin-left: auto;
	margin-right: auto;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.accordion h2{
	font-size: 12pt;
	margin: 0px;
	padding: 10px;
	background: #ccc;
	border-bottom: 1px solid #fff;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.accordion li div.content{
	display: none;
	padding: 10px;
	background: #f9f9f9;
	border: 1px solid #ddd;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.accordion li:hover div.content{
	display: inherit;
	transition-property: background;
	transition-duration: 1s;
	transition-timing-function: linear;
}
